@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (max-width: 767px) {
  .image-container {
    width: 50%;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #DDD9CE ;
}

nav {
  background-color: #224B6B
}

.nav-hover-color {
  background-color: #CFA498
}
.images {
  display: flex;
  flex-wrap: wrap;
}

.image-container {
  height: 500px;
}

.image {
  height: 470px;
  width: auto;
}

.about-me-bg {
  background-color: #224B6B;
}

.about-me-text {
  color: #224B6B;
}